body {
  height: 100%;
  font-family: Roboto;
  color: #c9d1d9;
  background-color: #0d1117;
}

main {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.MuiPaper-root, .MuiCard-root {
  background-color: #161b22!important;
}

.bio-card.MuiCard-root {
  width: 260px;
  min-width: 260px;
}

.bio-card.MuiCard-root * {
  color: #c9d1d9;
}

.bio-card.MuiCard-root .media {
  height: 320px;
}

.MuiChip-root {
  background-color: #21262d;
}